# ==========================================
# CONFIGURAÇÕES DO BANCO DE DADOS (SUPABASE)
# ==========================================


API_URL_SUPABASE=https://seu-projeto-aqui.supabase.co
PUBLISHABLESUPABASE_API_KEY=sua_publishable_api_key_aqui
SECRETS_KEY_SUPABASE_API_KEY=sua_secret_api_key_aqui
SERVICE_ROLE_SUPABASE_API_KEY=sua_service_role_api_key_aqui

# ==========================================
# CONFIGURAÇÕES DE LINKS (SHORT.IO)
# ==========================================
SHORT_IO_API_KEY=sua_api_key_do_short_io_aqui
SHORT_IO_DOMAIN=seu_dominio.s.gy
SHORT_IO_DOMAIN_ID=seu_id_de_dominio_aqui
ID_CLIENTE_SUPABASE=seu_uuid_de_cliente_aqui

# ==========================================
# CONFIGURAÇÕES DO AMBIENTE LOCAL
# ==========================================
# Insira o caminho absoluto para o diretório local do projeto


CAMINHO_PASTA_LOCAL=C:\Caminho\Para\Sua\Pasta\.env